# Phase 1: Data Preprocessing for Sales Analysis

This notebook initiates the final project by performing essential preprocessing steps on a sales dataset (`sales.xlsx`). The goal is to clean and refine the data for subsequent analysis, ensuring quality and consistency. Additionally, analytical questions about order cancellations and customer behavior are addressed.

## Objectives
- Remove incomplete or invalid records.
- Eliminate duplicates and canceled orders.
- Compute cancellation statistics and identify top-canceling customers.
- Prepare a clean dataset (`preprocessed_sales.csv`) for future phases.

## Step 1: Import Libraries

Load required Python libraries for data manipulation and logging.

In [1]:
import pandas as pd
import numpy as np
import logging

# Configure logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logger = logging.getLogger(__name__)

## Step 2: Load Dataset

Read the `sales.xlsx` file into a DataFrame. The dataset contains sales transactions with the following columns:

| Column           | Description                                      |
|------------------|--------------------------------------------------|
| `InvoiceNumber`  | Unique 6-digit invoice ID; 'C' prefix indicates cancellation |
| `ProductCode`    | Unique 5-digit product ID                        |
| `ProductName`    | Product description                              |
| `Quantity`       | Number of units ordered                          |
| `InvoiceDate`    | Date and time of invoice creation                |
| `UnitPrice`      | Price per unit of product                        |
| `CustomerId`     | Unique 5-digit customer ID                       |
| `Country`        | Customer's country of residence                  |

In [2]:
# Load dataset with error handling
try:
    df = pd.read_excel('sales.xlsx')
    logger.info(f"Dataset loaded successfully. Shape: {df.shape}")
except FileNotFoundError:
    logger.error("File 'sales.xlsx' not found.")
    raise
except Exception as e:
    logger.error(f"Error loading dataset: {e}")
    raise

df.head()

2025-04-10 11:55:48,440 - INFO - Dataset loaded successfully. Shape: (525461, 8)

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## Step 3: Remove Missing Customer IDs

Filter out rows with missing `CustomerId` values to ensure data integrity.

In [3]:
df_no_missing_CustomerId = df.copy()
df_no_missing_CustomerId = df_no_missing_CustomerId.dropna(subset=['CustomerId'])
logger.info(f"Rows with missing CustomerId removed. New shape: {df_no_missing_CustomerId.shape}")
df_no_missing_CustomerId.head()

2025-04-10 11:55:56,860 - INFO - Rows with missing CustomerId removed. New shape: (417534, 8)

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## Step 4: Remove Duplicate Rows

Eliminate fully duplicated rows to avoid redundant data.

In [4]:
df_no_duplicate = df_no_missing_CustomerId.copy()
df_no_duplicate = df_no_duplicate.drop_duplicates()
logger.info(f"Duplicate rows removed. New shape: {df_no_duplicate.shape}")
df_no_duplicate.head()

2025-04-10 11:56:05,180 - INFO - Duplicate rows removed. New shape: (410763, 8)

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## Step 5: Filter Out Invalid Prices

Remove rows where `UnitPrice` is zero or negative, retaining only positive values.

In [5]:
df_no_missing_price = df_no_duplicate.copy()
df_no_missing_price = df_no_missing_price[df_no_missing_price['UnitPrice'] > 0]
logger.info(f"Rows with invalid prices removed. New shape: {df_no_missing_price.shape}")
df_no_missing_price.head()

2025-04-10 11:56:08,745 - INFO - Rows with invalid prices removed. New shape: (410732, 8)

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## Step 6: Calculate Percentage of Canceled Orders

Compute the percentage of unique invoices that were canceled (starting with 'C') and round the result.

In [6]:
total_invoices = df_no_missing_price['InvoiceNumber'].nunique()
canceled_invoices = df_no_missing_price[df_no_missing_price['InvoiceNumber'].str.startswith('C', na=False)]['InvoiceNumber'].nunique()
percentage_cancelled_orders = round((canceled_invoices / total_invoices) * 100)
logger.info(f"Percentage of canceled orders: {percentage_cancelled_orders}%")
print(f'Percentage of canceled orders: {percentage_cancelled_orders}%')

2025-04-10 11:56:12,821 - INFO - Percentage of canceled orders: 19%

Percentage of canceled orders: 19%

## Step 7: Identify Top Canceling Customers

Find the five customers with the most unique canceled orders, returning their IDs as strings in descending order.

In [7]:
canceled_df = df_no_missing_price[df_no_missing_price['InvoiceNumber'].str.startswith('C', na=False)].copy()
top_cancelling_customers = (canceled_df.groupby('CustomerId')['InvoiceNumber']
                            .nunique()
                            .nlargest(5)
                            .index
                            .map(lambda x: str(int(x)))
                            .tolist())
logger.info(f"Top 5 canceling customers: {top_cancelling_customers}")
print(f'Top canceling customers: {top_cancelling_customers}')

2025-04-10 11:57:28,092 - INFO - Top 5 canceling customers: ['14911', '14527', '15311', '14156', '17841']

Top canceling customers: ['14911', '14527', '15311', '14156', '17841']

## Step 8: Remove Canceled Orders

Exclude all rows related to canceled invoices from the dataset.

In [8]:
df_no_canceled_invoice = df_no_missing_price.copy()
df_no_canceled_invoice = df_no_canceled_invoice[~df_no_canceled_invoice['InvoiceNumber'].str.startswith('C', na=False)]
logger.info(f"Canceled orders removed. New shape: {df_no_canceled_invoice.shape}")
df_no_canceled_invoice.head()

2025-04-10 11:59:26,283 - INFO - Canceled orders removed. New shape: (400916, 8)

,InvoiceNumber,ProductCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerId,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

## Step 9: Save Preprocessed Data

Export the cleaned dataset to `preprocessed_sales.csv` for use in future phases.

In [9]:
df_no_canceled_invoice.to_csv('preprocessed_sales.csv', index=False)
logger.info("Preprocessed dataset saved as 'preprocessed_sales.csv'")

2025-04-10 11:59:42,944 - INFO - Preprocessed dataset saved as 'preprocessed_sales.csv'

## Step 10: Extract Remaining Invoices

Generate a Pandas Series of unique, non-canceled invoice IDs.

In [10]:
remaining_invoices = pd.Series(df_no_canceled_invoice['InvoiceNumber'].unique())
logger.info(f"Number of unique remaining invoices: {len(remaining_invoices)}")
remaining_invoices

2025-04-10 11:59:47,247 - INFO - Number of unique remaining invoices: 19213

0        489434
1        489435
2        489436
3        489437
4        489438
          ...
19208    538167
19209    538168
19210    538169
19211    538170
19212    538171
Length: 19213, dtype: object

## Step 11: Prepare Submission

Save intermediate outputs and compress them into `result.zip` for submission.

In [ ]:
import zipfile
import joblib

# Save outputs
joblib.dump(percentage_cancelled_orders, 'percentage_cancelled_orders')
joblib.dump(top_cancelling_customers, 'top_cancelling_customers')
df_no_missing_CustomerId.head(1000).to_csv('df_no_missing_CustomerId.csv', index=False)
df_no_duplicate.head(1000).to_csv('df_no_duplicate.csv', index=False)
df_no_missing_price.head(1000).to_csv('df_no_missing_price.csv', index=False)
df_no_canceled_invoice.head(1000).to_csv('df_no_canceled_invoice.csv', index=False)
remaining_invoices.to_csv('remaining_invoices.csv', index=False)

# Compress files
file_names = ['df_no_canceled_invoice.csv', 'df_no_missing_CustomerId.csv',
              'df_no_duplicate.csv', 'df_no_missing_price.csv',
              'percentage_cancelled_orders', 'top_cancelling_customers',
              'remaining_invoices.csv', 'final_project_1_preprocessing.ipynb']
with zipfile.ZipFile('result.zip', 'w', compression=zipfile.ZIP_DEFLATED) as zf:
    for file in file_names:
        zf.write(file)
logger.info("Submission files compressed into 'result.zip'")